*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.video-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.goto{
    padding: 10px;
    margin: 10px;
}

.goto a{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #03041D;
    border-radius: 10px;
}

.goto a:hover{
    color: #03041D;
    background-color: #FB6E3B;
}

.video-container video{
    width: 900px;
}