*{
    margin: 0;
    padding: 0;
}
/* font tambahan */
@font-face {
    font-family: poppins-regular;
    src: url(/Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face{
    font-family: sf-ui-display;
    src: url(/Fonts/SF_UI_Display/sf-ui-display-light-58646b33e0551.otf)
}

body
{
    height:100%;
}

.navbar{
    font-family: poppins-regular;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #03041D;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    /* background-color: white; */
    /* padding: 5px; */
}

/* buat ilangin yang bulet depan */
.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.navbar li{
    padding: 20px 50px;
}



/* logo */
.logo img{
    width: 100px;
    height: 100px;
}

/* waiter */
.waiter img{
    width: 80px;
    height: 80px;
}

.navbar-logo{
    position: absolute;
    left: 40px;
    padding-top: 10px 0px;
}

.navbar-waiter img{
    width: 100px;
    height: 100px;
}

.navbar-waiter{
    right:40px;
    position: absolute;
    padding-top: 10px 0px;
}

.navbar li{
    padding: 20px 50px;
}

.review2{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.review2>p{
    border-bottom: 5px solid #BEBEC7;
}


.content{
    display: flex;
    width: 100%;
    background-color: #FB6E3B;
}

.footer{
    font-family: poppins-regular;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.social-media{
    display: flex;
    flex-direction: row;
    padding: 2px;
    gap: 5px;
}

.social-media img{
    width: 30px;
    height: 30px;
}

.navbar ul li .dropdown{
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    top: 80px;
    left: 483px;
}

.navbar ul li .dropdown li a{
    color: #03041D;
}

.navbar ul li .dropdown li a:hover{
    background-color: #6cffff;
}

.navbar ul li:hover .dropdown{
    display: flex;
    flex-direction: row;
    /* padding-right: 30px; */
}

.waiter a img:hover{
    opacity: 0.8;
}

.waiter a img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: white;
}

#popup{
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:3px;
    right:3px;
}

#popup p{
    font-family: sf-ui-display;;
    font-size: 30px;
}

#popup:target {
    visibility:visible;
    opacity: 1;
    width:600px;
    background-color: rgba(255,255,255,0.95);
    position: fixed;
    top:125px;
    left:325px;
    right:100px;
    bottom:100px;
    text-align: center;
    margin:0;
    z-index: 1;
    padding-top: 140px;
    /* -webkit-transition:all 1s; */
    /* -moz-transition:all 1s; */
    transition:all 1s;
}

a.popup-close{
    position: absolute;
    top:3px;
    right:3px;
    background-color: #fff;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    color:black;
}

.homepage-title{
    font-size: 60px;
    padding: 100px 0px 0px 60px;
}

.homepage-desc{
    font-size: 30px;
    padding: 0px 0px 0px 60px;
}

.content{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 100%;
    align-items: center;
    height: 473px;
}

.title{
    height: 15%;
    font-family: sf-ui-display;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.slider{
    height: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: auto;
    display: grid;
    place-items: center;
}

.slide-track{
    display: flex;
    width: calc(600px * 6);
    animation: scroll 20s linear infinite;
    height: 280px;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-600px * 3));
    }
}

.slide{
    width: 600px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin: 0px 30px;
}

.slide>img{
    width: 100%;
}

.review{
    display: flex;
}

.image{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.review-content{
    width: 50%;
    padding: 0 10px;
}

.review-content>p{
    font-size: 20px;
}

.name{
    font-family: poppins-regular;
    color:#FB6E3B
}

.review-text{
    font-family: sf-ui-display;
    color:black;
}

.image>img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.add{
    height: 20%;
    display: flex;
    align-items: center;
}

.add>a{
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #03041D;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}

.add-text{
    font-family: sf-ui-display;
    padding: 0px 3px;
}

.add-img{
    /* padding-top: 6px; */
    display: flex;
    align-items: center;
}

.add-img>img{
    height: 35px;
    width: 35px;
}

.orderList{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

